@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
}

.dark-mode {
    --bg-color: #121212;
    --text-color: #ffffff;
}

.light-mode {
    --bg-color: #f0f0f0;
    --text-color: #333333;
}

.text-flashlight {
    background: var(--bg-color);
    color: var(--text-color);
    position: relative;
    z-index: 0;
}

.text-flashlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--cursor-x) var(--cursor-y), transparent, var(--bg-color) 80%);
    pointer-events: none;
    z-index: -1;
}

.scrollable-section {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.scrollable-content {
    display: inline-block;
    white-space: nowrap;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll linear infinite;
}

.tetris-piece {
    @apply text-gray-300 opacity-10;
    font-size: 5rem;
}
